@import "common";
$screenWidth: 1200px;
$padWidth: 90%;
$wapWidth: 94%;

.title {
  img {
    width: 1920px;
    height: 130px;
  }
}
.progress-bar-info {
  background: #005def;
}
.content {
  margin: 16px 40px 0 40px;
  .tip {
    position: absolute;
    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 15px;
      left: 24px;
      top: 30px;
      background: #4A84D6;
    }
  }

  .up {
    margin-top: 16px;
    display: flex;
    .items {
      width: 840px;
      display: flex;
      justify-content: space-between;
      .item {
        width: 202px;
        height: 116px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #ffffff;
        img {
          width: 30px;
          height: 30px;
        }
        .name {
          font-size: 12px;
        }
        .line {
          width: 124px;
          height: 1px;
          margin: 6px 8px 10px 8px;
        }
        &:nth-child(1) {
          background: rgba(45,74,117,0.24);
          border: 1px solid rgba(94,161,242,0.24);
          .name {
            color: #A0BFF3;
          }
          .line {
            background: rgba(94,161,242,0.24);
          }
        }
        &:nth-child(2) {
          background: rgba(103,46,35,0.24);
          border: 1px solid rgba(216,140,38,0.24);
          .name {
            color: #EB613C;
          }
          .line {
            background: rgba(216,140,38,0.24);
          }
        }
        &:nth-child(3) {
          background: rgba(123,114,44,0.24);
          border: 1px solid rgba(248,225,44,0.24);
          .name {
            color: $yellow
          }
          .line {
            background: rgba(248,225,44,0.24);
          }
        }
        &:nth-child(4) {
          background: rgba(47,104,112,0.24);
          border: 1px solid rgba(110,210,144,0.24);
          .name {
            color: #5CE1D7;
          }
          .line {
            background: rgba(110,210,144,0.24);
          }
        }
        &:nth-child(5) {
          background: rgba(137,152,173,0.24);
          border: 1px solid rgba(191,191,191,0.24);
          .name {
            color: #919393;
          }
          .line {
            background: rgba(191,191,191,0.24);
          }
        }
      }
    }

    .bar-echart {
      position: relative;
      margin-top: 16px;
      @include border(840px,458px);

      .select-body {
        position: absolute;
        right: 30px;
        top: 20px;
      }
    }

    .map-echart {
      margin-left: 16px;
      display: flex;
      @include border(980px,590px);

      .china-map {
        width: 660px;
        height: 590px;
        position: relative;
        .time {
          position: absolute;
          bottom: 20px;
          left: 24px;
          font-size: 12px;
          color: #D1D1D1;
          span {
            color: #7CA2FD;
          }
        }
      }

      .country {
        margin-top: 30px;
        margin-left: 30px;
        width: 270px;
        height: 520px;
        background: rgba(17,31,51,0.4);
        border: 1px solid #7CA2FD;
        position: relative;
        &:before {
          position: absolute;
          content: url("../image/arrow_up.png");
          top: -5px;
          left: 5px;
        }
        &:after {
          position: absolute;
          content: url("../image/arrow_down.png");
          height: 90px;
          width: 100%;
          background: linear-gradient(to top, rgba(18,21,38,0.8),rgba(18,21,38,0));
          bottom: 0;
          left: 0;
          display: flex;
          align-items: end;
          flex-direction: column-reverse;
          padding-left: 5px;
        }

        .title {
          margin: 12px 5px 0 5px;
          background: linear-gradient(to top, #005def, #00bef8);
          width: 260px;
          height: 28px;
          line-height: 28px;
          color: #dcebef;
          font-size: 12px;
          &>span {
            display: inline-block;
            text-align: center;
            &:nth-child(1) {
              width: 50px;
            }
            &:nth-child(2) {
              width: 60px;
            }
            &:nth-child(3) {
              width: 140px;
            }
          }
        }
        .table-list {
          padding-top: 4px;
          .table-item {
            height: 40px;
            display: flex;
            align-items: center;
            position: relative;
            &:after {
              position: absolute;
              bottom: 0;
              left: 10px;
              content: url("../image/line.png");
            }
            &:last-child {
              &:after {
                opacity: 0;
              }
            }
            &>span {
              display: inline-block;
              text-align: center;
              &:nth-child(1) {
                width: 22px;
                margin: 0 16px;
                height: 14px;
                line-height: 14px;
                color: #000;
                border-radius: 2px;
                &.yellow {
                  background: #d88c26;
                }
                &.blue {
                  background: #486299;
                  color: #111e32;
                }
              }
              &:nth-child(2) {
                width: 70px;
                color: #dcebef;
                font-size: 12px;
              }
              &.progress-body {
                width: 150px;
                display: inline-flex;
                height: 40px;
                align-items: center;
                justify-content: center;
                .progress {
                  width: 80px;
                  height: 8px;
                  border-radius: 2px;
                  margin-bottom: 0;
                  margin-right: 10px;
                  background: #474f59;
                }
                .num {
                  font-size: 12px;
                  color: #7CA2FD;
                  font-weight: lighter;
                }
              }
            }
          }
        }
      }

    }

    .right {
      margin-left: 16px;
      .bar-small-echart {
        margin-bottom: 18px;
        @include border(350px,296px);
      }
      .pie-echart {
        @include border(350px,296px);
      }
    }
  }
  .down {
    margin-top: 16px;
    display: flex;
    .table {
      @include border(840px, 284px);
      position: relative;
      &:after {
        position: absolute;
        z-index: 1;
        bottom: 16px;
        left: 15px;
        content: '';
        width: 810px;
        height: 100px;
        background: linear-gradient(to top, rgb(13,18,30), rgba(0,0,0,0));
      }
      .name {
        margin-left: 40px;
        margin-top: 24px;
        margin-bottom: 20px;
        color: #326BBA;
        font-size: 18px;
        font-weight: bold;
      }
      .table-content {
        width: 100%;
        height: 170px;
        .swiper-wrapper {
          .swiper-slide {
            margin-left: 15px;
            width: 810px;
            height: 34px;
            font-size: 12px;
            color: #b2cfcf;
            line-height: 34px;
            font-weight: lighter;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &:nth-child(odd) {
              background: #192c45;
            }
          }
        }
      }
    }
    .line-small-echart {
      margin: 0 16px;
      @include border(602px, 284px);
    }
    .bar-h-echarts {
      @include border(362px, 284px);
    }
  }
}

